.form {
  max-width: 300px;
}
input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}
form {
  display: block;
}
label {
  width: fit-content;
}
.input-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
